Package: com.sss136.ytrevivedislike
Name: YTReviveDislike
Version: 0.0.1
Architecture: iphoneos-arm
Description: This is a tweak to bring back the number of low ratings on Youtube!
Maintainer: Ryu
Author: Ryu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
